<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
	<!-- 	<typeAlias type="com.kosta.devpanda.dto.auction" alias="acution"/>
		<typeAlias type="com.kosta.devpanda.dto.bid" alias="bid"/>
		<typeAlias type="com.kosta.devpanda.dto.blacklist" alias="blaklist"/>
		<typeAlias type="com.kosta.devpanda.dto.company" alias="company"/>
		<typeAlias type="com.kosta.devpanda.dto.emailCertification" alias="emailCertification"/>
		<typeAlias type="com.kosta.devpanda.dto.person" alias="person"/>
		<typeAlias type="com.kosta.devpanda.dto.transaction" alias="transaction"/> -->
	</typeAliases>
</configuration>