<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd설정부터 해야함 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<!--쿼리 로그  -->
	<!-- <settings>
    <setting name="logImpl" value="STDOUT_LOGGING" />
	</settings> -->


	<typeAliases>
		<!-- dto 넣기 -->
		<typeAlias type="dto.AuctionAndPerson" alias="auctionandperson" />
		<typeAlias type="dto.Auction" alias="auction" />
		<typeAlias type="dto.Bid" alias="bid" />
		<typeAlias type="dto.BlackList" alias="blacklist" />
		<typeAlias type="dto.Company" alias="company" />
		<typeAlias type="dto.EmailCertification" alias="emailcertification" />
		<typeAlias type="dto.Person" alias="person" />
		<typeAlias type="dto.SearchCondition" alias="searchcondition" />
		<typeAlias type="dto.Transaction" alias="transaction" />
	</typeAliases>







<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				
				<property name="url"
					value="jdbc:mysql://localhost:3306/devPandaT?useSSL=false&amp;serverTimezone=UTC" />
				<property name="username" value="root" />
				<property name="password" value="98019801" />
			</dataSource>
		</environment>
	</environments> 




 	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"></property>
				<property name="url"
					value="jdbc:mariadb://localhost:3306/devpanda"></property>
				<property name="username" value="root"></property>
				<property name="password" value="1590"></property>
			</dataSource>
		</environment>
		</environments> -->


	<mappers>
		<mapper resource ="mapper/person.xml" />
		<mapper resource ="mapper/auction.xml"/>
		<mapper resource ="mapper/transaction.xml"/>
		<mapper resource ="mapper/company.xml"/>
		<mapper resource ="mapper/bid.xml"/>
		<mapper resource ="mapper/emailCertification.xml"/>  
		<mapper resource ="mapper/blacklist.xml"/>  
		<mapper resource ="mapper/searchCondition.xml"/>


	</mappers>
</configuration>